.container {
  display: grid;
  padding: var(--wide-spacing);
  border-top: 1px solid var(--theme-light-color);

  ul {
    margin: auto;
    padding: 0;
    display: inline-flex;
    gap: var(--wide-spacing);
  }

  svg {
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--theme-color);
  }

  li {
    margin: auto;
    display: inline-grid;

    > a {
      display: inline-grid;
      color: var(--theme-color);
    }

    .currentPage {
      background-color: var(--theme-blue);
      padding: var(--narrow-spacing) var(--common-spacing);
      border-radius: 4px;
      color: white;
    }
  }
}
